.course-modal {
    width: 100%;
}

.course__padd-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.course-name {
    font-weight: 600;
    margin: 0;
}

.course__padd-block .button {
    padding: 10px 30px;
    background: #DE3737;
    color: #fff;
    border-radius: 25px;
}

.course-modal_padd-block {
    margin-top: 40px;
}