.partners-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 80px;
}

.kpi {
    height: 110px;
}

.kire {
    height: 110px;
}

.kai {
    height: 85px;
}

.knure {
    width: 280px;
    grid-column: 2;
}

.gs {
    width: 280px;
}

.nix {
    width: 180px;
}

.sim {
    grid-column: 2;
    width: 245px;
}

@media screen and (max-width: 992px) {
    .partners-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .kpi {
        height: 80px;
    }
    
    .kire {
        height: 80px;
    }
    
    .kai {
        height: 60px;
    }
    
    .knure {
        width: 200px;
    }

    .epam {
        width: 125px;
    }

    .gs {
        width: 220px;
    }
    
    .nix {
        width: 140px;
    }
    
    .sim {
        width: 185px;
    }
}

@media screen and (max-width: 576px) {
    .partners-block {
        grid-template-columns: 1fr;
    }

    .knure, .sim {
        grid-column: 1;
    }
}