.partners-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 40px;
}

.partners-block img {
    max-width: 270px;
    max-height: 150px;
}

@media screen and (max-width: 1200px) {
    .partners-block img {
        max-width: 230px;
    }
}

@media screen and (max-width: 992px) {
    .partners-block img {
        max-width: 170px;
    }
}

@media screen and (max-width: 768px) {
    .partners-block img {
        max-width: 135px;
    }

    .partners-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 576px) {
    .partners-block {
        grid-template-columns: 1fr;
    }

    .partners-block img {
        max-width: calc(100vw / 3.33);
    }
}